@import '../../app.scss';

.services {
  background: var(--bg-gradient);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-text {
<<<<<<< Updated upstream
    flex: 1;
=======
    margin-top: 30px;
>>>>>>> Stashed changes
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 20px;

    p {
      font-weight: 200;
      font-size: 20px;
<<<<<<< Updated upstream
      color: gray;
=======
      color: var(--gray-color);
>>>>>>> Stashed changes
      text-align: right;
    }
    hr {
      width: 500px;

      border: none;
      border: 0.5px solid var(--gray-color);
    }
  }
  &-container {
<<<<<<< Updated upstream
    flex: 2;
=======
>>>>>>> Stashed changes
    display: flex;
    align-items: center;
    flex-direction: column;

    &__title {
<<<<<<< Updated upstream
      gap: 50px;
      display: flex;
      align-items: center;

      h1 {
        font-weight: 100;
        font-size: clamp(36px, 0.752rem + 6.15vw, 96px);
      }
      span {
        font-weight: 900;
      }
      button {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        background-color: var(--accent-color);
        border: none;
        font-size: 24px;
        cursor: pointer;
        text-transform: uppercase;
      }
    }
    &__img {
      width: 300px;
      height: 100px;
      border-radius: 50px;
      object-fit: cover;
    }
  }
  &-list {
    flex: 2;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1366px;
    margin: 0 auto;

    &__item {
      padding: 50px;
      border: 0.5px solid var(--gray-color);
=======
      font-weight: 100;
      font-size: clamp(36px, 0.752rem + 6.15vw, 96px);
    }
  }
  &-list {
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1366px;
    margin: 0 auto;
    gap: 40px;

    &__item {
      padding: 18px;
      border: 1px solid var(--gray-color);
>>>>>>> Stashed changes
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;

<<<<<<< Updated upstream
      button {
        padding: 12px;
        background-color: var(--accent-color);
        border: none;
=======
      transition: all 0.3s ease;

      &:hover {
        scale: 1.1;
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0.1),
          rgba(255, 255, 255, 0.3)
        );
        backdrop-filter: blur(10px);
      }

      h2 {
        text-align: center;
        font-size: 28px;
      }

      a {
        text-align: center;
        padding: 12px;
        font-size: 18px;
        color: var(--dark-color);
        background-color: var(--accent-color);
>>>>>>> Stashed changes
        cursor: pointer;
      }
    }
  }
}

@include tablet {
  .services {
    &-text {
      hr {
        width: 400px;
      }
    }
<<<<<<< Updated upstream
    &-container {
      &__title {
        gap: 30px;
      }
      &__img,
      button {
        width: 250px;
        height: 80px;
        font-size: 22px;
      }
    }
=======
>>>>>>> Stashed changes
    &-list {
      &__item {
        padding: 24px;
      }
    }
  }
}

@include small-tablet {
  .services {
    &-text {
      hr {
        width: 300px;
      }
    }
<<<<<<< Updated upstream
    &-container {
      &__title {
        gap: 20px;
      }
      &__img,
      button {
        width: 200px;
        height: 60px;
        font-size: 18px;
      }
    }
    &-list {
      grid-template-columns: repeat(2, 1fr);
      &__item {
        gap: 16px;
        padding: 18px;
        button {
=======
    &-list {
      &__item {
        gap: 16px;
        padding: 18px;
        h2 {
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
        a {
          font-size: 14px;
>>>>>>> Stashed changes
          padding: 8px;
        }
      }
    }
  }
}

<<<<<<< Updated upstream
@include mobile {
  .services {
    text-align: center;
    flex-direction: column;
    &-text {
      margin-top: 12px;
      text-align: center;
      flex-direction: column;
      p {
        padding-right: 16px;
=======
@include big-mobile {
  .services {
    &-text {
      margin-top: 18px;
      flex-direction: column;
    }
    &-container {
      margin-top: 10px;
    }
    &-list {
      grid-template-columns: 1fr;
      width: 100%;
    }
  }
}

@include mobile {
  .services {
    text-align: center;
    &-text {
      align-items: end;
      margin-top: 12px;
      p {
        font-size: 14px;
        padding-right: 20px;
>>>>>>> Stashed changes
      }
      hr {
        width: 260px;
      }
    }
<<<<<<< Updated upstream
    &-container {
      width: 100%;
      &__title {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }
      &__img,
      button {
        width: 150px;
        height: 50px;
        font-size: 16px;
      }
    }
    &-list {
      grid-template-columns: 1fr;
      width: 100%;
      &__item {
        align-items: center;
        width: 100%;
        border: none;
        padding: 8px 24px;
        p {
          display: none;
        }
        button {
          padding: 8px;
=======

    &-list {
      grid-template-columns: 1fr;
      width: 100%;
      gap: 18px;
      &__item {
        border-radius: 4px;
        align-items: center;
        width: 100%;
        padding: 8px;

        p {
          font-size: 13px;
        }
        a {
          padding: 6px;
>>>>>>> Stashed changes
          width: 50%;
          color: var(--accent-color);
          background-color: transparent;
          border: 1px solid var(--gray-color);
          border-radius: 4px;
        }
      }
    }
  }
}
