.menuBtn {
  z-index: 9;
  position: fixed;
<<<<<<< Updated upstream
  width: 50px;
  height: 50px;
  border-radius: 12px;
  top: 28px;
  left: 25px;
=======
  width: 20px;
  height: 20px;
  border-radius: 12px;
  top: 26px;
  left: 24px;
>>>>>>> Stashed changes
  background-color: transparent;
  border: none;
  cursor: pointer;
}
