@import '../../app.scss';

.sidebar {
  justify-content: center;
  flex-direction: column;
  background-color: var(--light-color);
  color: black;
  display: none;
  @include small-tablet {
    display: block;
  }

  .bg {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 410px;

    background-color: var(--light-color);
  }
}
