:root {
  // colors

  --bg-color: #0c0c1d;
  --bg-gradient: linear-gradient(180deg, #0c0c1d, #111132);

  --light-color: #fff;

  --accent-color: orange;
  --second-color: #663399;

  --gray-color: gray;

  --dark-color: #000;
}
