:root {
  // colors

  --bg-color: #0c0c1d;
  --bg-gradient: linear-gradient(180deg, #0c0c1d, #111132);

  --light-color: #fff;

  --accent-color: orange;

  --gray-color: gray;

  --second-color: #234eec;
  --dark-color: #000;

  --text-color: rgba(40, 39, 39, 0.8);
  --overflow-color: rgba(4, 3, 3, 0.75);
}
